---
layout: default
---

<section>
  {% include snippet.html snippet-id="hauptthema" show-title=true show-in-nav=true %}
</section>

<section class="has-separator">
  <h2 id="program" title="Programm">Programm</h2>

  <div class="section">
    <h3>Montag, 11. September 2023</h3>
    {% include schedule.html content-source="schedule-day-1" %}
  </div>
  
  <div class="section">
    <h3>Dienstag, 12. September 2023</h3>
    {% include schedule.html content-source="schedule-day-2" %}
  </div>

  <div class="section">
    <h3>Mittwoch, 13. September 2023</h3>
      {% include schedule.html content-source="schedule-day-3" %}
  </div>
</section>

<section class="has-separator">
  <h2 id="rahmenprogramm" title="Rahmenprogramm">Rahmenprogramm</h2>
  {% include rahmenprogramm.html hierachy-level=2 %}
</section>

<section class="has-separator">
  {% include snippet.html snippet-id="registrierung" show-title=true show-in-nav=true output="raw" %}
  {% include snippet.html snippet-id="kontakt" show-title=true hierachy-level=2 show-in-nav=true %}
</section>
